.page-wrap {
  background: $base-grey;
}
.banner {
  background-color: $banner;
  color: $white;
}

.channel-sidebar {
  background-color: darken($base-grey, 0.5);
}

.program-sidebar {
  background-color: darken($base-grey, 0.5);
}