.page-wrap {
  background: $base-grey;
}
.banner {
  background-color: $banner;
  color: $white;
}

.channel-sidebar {
  background-color: $channelSidebar;
}

.program-sidebar {
  background-color: $programSideBar;
}