/***********
= Full height containers
************/
html,
body,
.page-wrap,
.sidebar {
  height: 100%;
}

body {
  // @include outer-container;
}

.banner {
  @include box-padding;
}
.sidebar {
  ul {
    @include nav;
    li {
      padding: 0.5em 0.5em 0.5em 2em;
      line-height: 2em;
      background-color: $white;
      margin-bottom: 1px;
    }
  }
}
.page-wrap {
  @include span-columns(12);
  @include row(table);
}
.channel-sidebar {
  @include span-columns(2);
  padding-right: 0;
}
.program-sidebar {
  @include span-columns(3);
  padding-right: 0;
}

.hero-unit {
  @include span-columns(7); 
  @include reset-display;
  padding-left: 2em;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}