
<div ng-show="loading" class="loading-message">
  Reloading...
</div>
<h2>Some Gifs</h2>
<section id="programs">
  <div>
    <a ng-href="http://reddit.com{{ProgramList.programView.permalink}}">
      <img ng-src="{{ProgramList.programView.url}}" alt="{{ProgramList.programView.title}}">
    </a>
    <div class="program-meta">
      <p>{{ProgramList.programView.title}}</p>
      <p>{{ProgramList.programView.score}}</p>
    </div>
  </div>
</section>
<p>installed.</p>
<h3>Enjoy coding! - Yeoman</h3>
