<div class="hero-unit">
    <div ng-show="loading" class="loading-message">
    Reloading...
  </div>
  <h2>Some Gifs</h2>
  <section id="programs">
    <div>
      <a ng-href="http://reddit.com{{programView.permalink}}"
        <img ng-src="{{programView.url}}" alt="{{programView.title}}">
      </a>
      <div class="program-meta">
        <p>{{programView.title}}</p>
        <p>{{programView.score}}</p>
      </div>
    </div>
  </section>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
